<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NightLife App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--------- Hero ------------------------------------------>
    <div class="hero is-medium is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">NightLife Coordination App</h1>
                <h2 class="subtitle">Be on the most happening place tonight</h2>
                <h3>
                    <i class="fa fa-map-marker title"></i>
                    <i class="fa fa-glass title"></i>
                    <i class="fa fa-heart title"></i>
                </h3>
                <div class="columns is-centered">
                    <div class="column is-half-desktop is-two-thirds-tablet">
                        <from>
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input">
                                </div>
                                <div class="control">
                                    <button class="button"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </from>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>